@font-face {
  font-family: 'gotd';
  src: url('/assets/fonts/gotd.eot?56796768');
  src: url('/assets/fonts/gotd.eot?56796768#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotd.woff2?56796768') format('woff2'),
       url('/assets/fonts/gotd.woff?56796768') format('woff'),
       url('/assets/fonts/gotd.ttf?56796768') format('truetype'),
       url('/assets/fonts/gotd.svg?56796768#gotd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'game_of_thrones_dubrovnik';
    src: url('/assets/fonts/game_of_thrones_dubrovnik.eot');
    src: url('/assets/fonts/game_of_thrones_dubrovnik.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/game_of_thrones_dubrovnik.woff2') format('woff2'),
         url('/assets/fonts/game_of_thrones_dubrovnik.woff') format('woff'),
         url('/assets/fonts/game_of_thrones_dubrovnik.ttf') format('truetype'),
         url('/assets/fonts/game_of_thrones_dubrovnik.svg#game_of_thronesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'gotd';
    src: url('../font/gotd.svg?56796768#gotd') format('svg');
  }
}
*/
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "gotd";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone:before { content: '\e800'; } /* '' */
.icon-pin:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-ticket:before { content: '\e803'; } /* '' */
.icon-view:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-gotd-logo:before { content: '\e806'; } /* '' */
.icon-house-arryn:before { content: '\e807'; } /* '' */
.icon-house-baratheon:before { content: '\e808'; } /* '' */
.icon-house-greyjoy:before { content: '\e809'; } /* '' */
.icon-house-lannister:before { content: '\e80a'; } /* '' */
.icon-house-lannister-filled:before { content: '\e80b'; } /* '' */
.icon-house-martell:before { content: '\e80c'; } /* '' */
.icon-house-stark:before { content: '\e80d'; } /* '' */
.icon-house-tully:before { content: '\e80e'; } /* '' */
.icon-house-targaryen:before { content: '\e80f'; } /* '' */
.icon-house-tyrell:before { content: '\e810'; } /* '' */

/* 2 - General styles
---------------------------------------------------------------------- */
html,
body {
	font-family: 'Noto Sans', 'Arial', Arial, sans-serif;
	font-size: 14px;
	color: #333;
	background: #fafafa;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-0-font-smoothing: antialiased;
}
a {
	color: #ad1324;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
a:focus {
	text-decoration: none;
	outline:none;
	outline-offset:0;
}
a:hover {
	text-decoration: none;
}
p {
	color: #333;
	line-height: 1.42857143;
	margin-bottom: 15px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	display: inline-block;
}
img {
	max-width: 100%;
	height: auto;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
iframe,
audio {
	width: 100%;
	height: auto;
	border: none;
}
input,
textarea {
	width: 100%;
}
.form-control {
    height: auto;
    padding: 9px 12px;
    background-image: none;
    border-radius: 3px;
}
.form-control:focus,
input:focus,
textarea:focus,
button:focus {
	border: 1px solid #999;
	box-shadow: none;
	outline: 0 !important;
} 
.text-primary {
	color: #ad1324;
	text-transform: uppercase;
}
.btn {
	padding: 10px 30px;
	line-height: 1.42857143;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.btn-primary {
	background-color: #ad1324;
	color: #fff;
	border: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.btn-default {
	background-color: #3a3a3a;
	color: #fff;
	border: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.btn-transparent {
	color: #7e7e7e;
}
.btn-md {
	padding: 10px 15px;
}
.btn-xl {
	padding: 10px 80px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 0; 
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #900e1c;
    color: #fff;
    border: 0;
}
.btn.btn-default:hover, .btn.btn-default:focus {
    background-color: #2f2f2f;
    color: #fff;
    border: 0;
}
.btn.btn-transparent:hover, .btn.btn-transparent:focus {
    color: #ad1324;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.subline {
    background: url(/images/bg-subline.png) no-repeat center center;
    height: 3px;
    margin-bottom: 60px;
}
.subline.subline-white {
    background: url(/images/bg-subline-white.png) no-repeat center center;
    margin-bottom: 40px;
}
.dropdown-menu {
    min-width: initial;
    padding: 0;
    margin-top: 7px;
    border: 0;
    border-radius: 3px;
}
.dropdown-menu li {
    display: block;
}
.dropdown-menu li a {
    float: left;
    padding: 10px 14px;
}
.dropdown-menu li a img {
    float: left;
}

/* 2.1 - Headings 
--------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: 'game_of_thrones_dubrovnik', serif;
	letter-spacing: 2px;
	font-weight: normal;
	line-height: 1.42857143;
}
h1 {
	font-size: 2.75em;
}
h2 {
	font-size: 30px;
	margin-bottom: 50px;
}
h3 {
	font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #ad1324;
}
h4 {
	font-size: 16px;
	margin-top: 30px;
    margin-bottom: 10px;
}
h5 {
	font-family: 'Noto Sans', 'Arial', Arial, sans-serif;
	font-size: 18px;
}
h6 {
	font-family: 'Noto Sans', 'Arial', Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}

/* Top Contact Section */
.top-contact {
	font-size: 12px;
	padding: 17px 0 23px 0;
}
.contact-list > li {
	padding-right: 25px;
	vertical-align: top;
}
.contact-list > li:last-child {
	padding-right: 0;
}
.contact-list li a {
	color: #000;
}
.contact-list li .top-info {
	display: inline-block;
}
.contact-list li .top-info > span {
	display: block;
}
.contact-list li .dropdown {
	display: inline-block;
}
.contact-list li .dropdown a:hover {
	color: #ad1324;
}
.contact-list li .dropdown > a img {
	margin-left: 10px;
}
.top-icon {
	color: #000;
	display: inline-block;
	margin-right: 10px;
	font-size: 20px;
    vertical-align: super;
}
.top-social {
	text-align: right;
}

/* Site Banner Section */
header .site-logo {
	margin-top: -4px;
	-webkit-transform: translateY(-33px);
	-moz-transform:    translateY(-33px);
	-ms-transform:     translateY(-33px);
	-o-transform:      translateY(-33px);
	transform:         translateY(-33px);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

/* Main Menu Section */

.main-menu {
}
.navbar-collapse {
	padding: 0px;
}
.menu-logo {
	display: none;
}
.navbar-toggle:focus {
	border: none;
	outline: 0;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
	border-bottom: 2px solid #ad1324;
}
.nav>li>a.btn:hover, .nav>li>a.btn:focus {
	background-color: #900e1c;
	border: 0;
}
.navbar-nav > li > a {
	color: #ad1324;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1.5px;
	padding: 17px 25px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.navbar-nav > li > a.btn {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.42857143;
	padding: 10px 30px;
	font-weight: normal;
	border: 0;
	margin-top: 8px;
}
.menu-list .active a {
	border-bottom: 2px solid #ad1324;
}
.header-fixed-top header.sticky {
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	-webkit-animation-duration: 0.45s;
	-moz-animation-duration: 0.45s;
	-ms-animation-duration: 0.45s;
	-o-animation-duration: 0.45s;
	animation-duration: 0.45s;
}
.header-fixed-top header.sticky .site-logo {
	-webkit-transform: translateY(10px);
	-moz-transform:    translateY(10px);
	-ms-transform:     translateY(10px);
	-o-transform:      translateY(10px);
	transform:         translateY(10px);
}
.header-fixed-top header.sticky .site-logo img {
	max-height: 40px;
}

/* Main Slider Section */
#main-slider {
	overflow: hidden;
}
.carousel-caption {
	left: 0;
	padding-bottom: 0px;
	/*background-color: rgba(0, 0, 0, 0.4);*/
	width: 100%;
	height: 100%;
	bottom: 5px;
	padding-top: 10px;
}
.slider-icon {
	color: #ffffff;
	line-height: normal;
    font-size: 180px;
    /*margin-bottom: 10px;*/
}
.carousel-title {
	font-size: 34px;
	line-height: 55px;
	color: #fff;
}
.carousel-title::first-letter,
.carousel-title .cap {
	font-size: 45px;
	display: inline-block;
}
.carousel-title span {
	display: block;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
	position: absolute;
	background-image: none;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 2em;
	width: 60px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	top: 50%;
	margin-top: -25px;

	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.owl-carousel .owl-next {
	right: -10%;
}
.owl-carousel .owl-prev {
	left: -10%;
}
.owl-carousel:hover .owl-next {
	right: 0%;
}
.owl-carousel:hover .owl-prev {
	left: 0%;
}
.owl-carousel .owl-nav:hover {
	color: #3498db;
}

/* About Section */
#about .forts-bg {
	position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -160px;
	background: url(/images/bg-forts-about.png) no-repeat right top;
	z-index: 1;
}
#about.about-tours .forts-bg,
#about.about-gallery .forts-bg {
    margin-top: -220px;
}
#about .forts-bg + .container {
	position: relative;
	z-index: 2;
}
.about {
	/*padding-top: 40px;*/
	padding-bottom: 80px;
}
.about ul {
	margin-bottom: 20px;
}
.about ul li {
	display: block;
	margin-bottom: 10px;
}
.about ul li .list-title {
    font-weight: bold;
    display: block;
}
.about.about-tours {
	padding-top: 12px;
	padding-bottom: 110px;
}
.about.about-gallery {
	padding-top: 12px;
	padding-bottom: 60px;
}
.about .got-houses {
	color: #ad1324;
	font-size: 130px;
}
.about.about-tours .got-houses,
.about.about-gallery .got-houses {
	margin-bottom: 0;
	font-size: 103px;
}
.about .got-houses [class^="icon-"]:before,
.about .got-houses [class*=" icon-"]:before {
	width: auto;
	margin: 0;
    line-height: normal;
}
#about .subline {
	margin-bottom: 35px;
}
.about-title {
	color: #ad1324;
	text-transform: uppercase;
}
.about-tours .about-title,
.about-gallery .about-title {
	margin-bottom: 14px;
}

/* Our Tours Section */
.our-tours {
	background: url(/images/bg-our-tours.jpg) no-repeat 0 0;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 80px;
}
.our-tours > .container {
	position: relative;
	z-index: 2;
}
.our-tours h2 {
	color: #fff;
	margin-bottom: 14px;
}
.card {
	padding-bottom: 45px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.card .card-thumbnail img {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.card-meta {
	border-bottom: 1px solid #e4e5e6;
	color: #b3b3b3;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
}
.card-meta .tour-meta {
	border-right: 1px solid #e4e5e6;
	width: 33.3%;
    padding: 17px 0;
    float: left;
	text-align: center;
}
.card-meta .tour-meta:last-child {
	border-right: 0;
}
.card-meta .tour-meta span {
    font-size: 24px;
    line-height: 12px;
}
.card-meta .tour-meta span.icon-heart {
    font-size: 18px;
}
.card-meta .tour-meta span[class^="icon-"]:before, .card-meta .tour-meta span[class*=" icon-"]:before {
    line-height: 12px;
}
.card-content {
	padding: 35px 40px 20px 35px;
}
.card-title {
	font-family: 'Noto Sans', 'Arial', Arial, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin-top: 0;
}
.card-footer {
    overflow: hidden;
}
.tour-duration {
	color: #999;
}
.tour-price {
	color: #ad1324;
	font-weight: bold;
	text-align: right;
}
.tour-price .price {
	font-size: 54px;
	line-height: 47px;
	vertical-align: top;
}
.tour-price .price-info {
	font-size: 12px;
}
.tour-text {
	line-height: 23px;
	padding-top: 10px;
}
.home-tour .tour-text {
	padding-top: 40px;
}


/* Facts Section */
#facts {
	padding-top: 60px;
	padding-bottom: 90px;
}
#facts .forts-bg {
	position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -390px;
	background: url(/images/bg-forts-facts.png) no-repeat left top;
	z-index: 1;
}
#facts .forts-bg + .container {
	position: relative;
	z-index: 2;
}
.facts-title {
	color: #ad1324;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 14px;
}
.facts-content {
	margin-bottom: 100px;
}
.fact-counter {
	font-size: 100px;
	color: #000;
}
.fact {
	font-size: 18px;
	color: #8f8f8f;
}

/* Gallery Section */
#gallery.gallery-page {
	position: relative;
	z-index: 1;
}
#gallery .row {
	margin: 0;
}
#gallery [class^="col-"], #gallery [class*=" col-"] {
	padding: 0;
}
#gallery a.item-image {
    position: relative;
    display: block;
    color: #fff;
}
#gallery a.item-image:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    top: 0;
    left: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#gallery a.item-image:hover:after {
    background: rgba(0,0,0,.5);
}
#gallery a.item-image .icon-plus {
    font-size: 50px;
    position: absolute;
    transform: translate(-50%,0);
    top: 50%;
    left: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
    z-index: 1;
}
#gallery a.item-image:hover .icon-plus {
    transform: translate(-50%,-50%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/* Guide section */
#guide {
	padding-top: 60px;
	padding-bottom: 140px;
	background: url(/images/bg-guide.png) no-repeat center 20px;
}
#guide p {
	line-height: 24px;
	margin-bottom: 40px;
}
.guide-title {
	color: #ad1324;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 14px;
}

/* Friends Section */
#friends {
	background: #f5f5f5;
	padding-top: 30px;
	padding-bottom: 30px;
}
.friends-slider .item {
	display: inline-block;
	vertical-align: middle;
}

/* Subscribe Section */
.subscribe-section {
	background: #ad1324;
	padding-top: 50px;
	padding-bottom: 80px;
}
.subscribe-section h2 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 5px;
}
.subscribe-section h5 {
	color: #fff;
	margin-bottom: 30px;
}
.subscribe-section input {
	max-width: 510px;
	display: inline-block;
}
.subscribe-section .btn {
  	margin-left: -12px;
	height: 40px;
}


/* Contact Section */
.map-container img {
	max-width: inherit;
	height: inherit;
}
.google-map-container {
	width: 100%;
	height: 500px;
}
.subscribe-section .form-control {
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	font-size: 14px;
	padding: 8px 20px 10px 20px;
	margin-bottom: 0;
	height: 40px;
}

/* Tour details page */
.about.tour-details {
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
    overflow: hidden;
}
.about.tour-details .got-houses {
    font-size: 100px;
}
.tour-details .about-title {
	margin-bottom: 20px;
}
.tour-details .subline {
    background: url(/images/bg-subline.png) no-repeat center center;
    height: 3px;
    margin-bottom: 50px;
}
.tour-details .info-title {
    font-family: 'game_of_thrones_dubrovnik', serif;
    color: #ad1324;
    letter-spacing: 1.5px;
}
.tour-details .info-desc {
    margin-bottom: 10px;
}

/* Scroll To Top */
.scroll-to-top {
	display: none;
	position: fixed;
	right: 35px;
	bottom: 65px;
	font-size: 1.15em;
	height: 40px;
	width: 40px;
	background-color: #3a3a3a;
	line-height: 38px;
	color: #ffffff;
	text-align: center;
	opacity: .3;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.scroll-to-top:hover {
	opacity: 1;
}

/* Footer Section */
footer {
	background-color: #4b4b4b;
	color: #999;
	font-size: 11px;
}
footer p,
footer a {
	color: #999;
}
footer .form-control {
    font-size: 12px;
    color: #999;
    border: 1px solid #666;
    background: none;
}
footer .form-group {
    margin-bottom: 20px;
}
.footer-top {
	padding-top: 115px;
	padding-bottom: 80px;
	color: #999;
	background: url(/images/bg-footer-top.jpg) no-repeat right bottom;
}
.footer-top.contact-block {
	position: relative;
	background: none;
	padding-top: 0;
	z-index: 1;
}
.footer-top .contact-list {
	margin-bottom: 50px;
}
.footer-top .contact-list span {
	vertical-align: top;
}
.footer-top .contact-list .top-info {
	font-size: 12px;
}
.footer-top.contact-block .contact-list .top-info {
    font-size: 14px;
    color: #333;
}
.footer-top .contact-list .top-icon {
	font-size: 20px;
	color: #999;
}
.footer-top.contact-block .contact-list .top-icon {
	color: #333;
}
.footer-top .top-info {
	display: inline-block;
}
.footer-top .top-info > span {
	display: block;
}
.footer-top .footer-disclaimer {
	text-transform: uppercase;
}
.footer-top .footer-disclaimer h6 {
	margin: 0;
	font-size: 11px;
	color: #eaeaea;
	letter-spacing: normal;
}
.footer-top.contact-block .footer-disclaimer h6 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.footer-bottom {
	background-color: #3a3a3a;
	padding: 10px 0;
	text-transform: uppercase;
}
.footer-bottom .site-logo a {
	font-size: 40px;
	color: #999;
}
.footer-bottom .site-logo a .icon-gotd-logo:before {
    width: auto;
    line-height: 1px;
}
.footer-bottom .social-footer {
	font-size: 12px;
	padding: 6px 0;
}
.footer-bottom .social-footer li a {
	line-height: 43px;
}
.footer-bottom .social-footer li a:hover {
	color: #fff;
}
.footer-bottom .social-footer li.social-link a {
	margin-left: 20px;
	width: 43px;
	height: 43px;
	background: #999;
	color: #fff;
	font-size: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.footer-bottom .social-footer li.social-link a:hover {
	color: #333;
	background-color: #828282;
}

/* Magnific popup animation */
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

@media (min-width: 768px){
	.navbar-nav > li > a.btn {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
}