@media screen and (max-width: 1024px) {
	.btn-xl {
	    padding: 10px 50px;
	}
	.top-contact {
	    padding: 17px 0;
	}
	.navbar-nav > li > a {
		padding: 17px 20px;
	}
	.main-slider,
	.google-map-container {
		height: 550px;
	}
	.slider-icon {
	    font-size: 100px;
	}
	.carousel-title {
	    font-size: 24px;
	    line-height: 35px;
	}
	.carousel-title::first-letter,
	.carousel-title .cap {
	    font-size: 30px;
	}
	#about .forts-bg {
	    margin-top: -80px;
	    background-size: 60% auto;
	}
	#about.about-tours .forts-bg {
	    margin-top: -100px;
	}
	.about .got-houses {
	    font-size: 100px;
	}
	#facts .forts-bg {
	    margin-top: -190px;
	    background-size: 70% auto;
	}
	.card {
	    padding-bottom: 15px;
	}
	.card-content {
	    padding: 35px 25px 20px 25px;
	}
	.card-footer .btn {
	    padding: 10px 0;
	    display: block;
	}
	.footer-top {
	    background: none;
	}
}

@media screen and (max-width: 768px) {
	.navbar-header {
	    float: none;
	}
	header .site-logo {
	    margin-top: 0;
	    max-width: 140px;
	}
	.contact-list li {
		padding-right: 10px;
	}
	nav#menu {
		padding-right: 0;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav > li > a {
		padding: 10px 9px;
		display: block;
		border-left: none
	}
	.navbar-nav > li > a.btn {
	    padding: 10px;
	    margin-top: 0;
	}
	.slider-icon {
	    font-size: 60px;
	}
	.about .got-houses {
	    font-size: 70px;
	}
}

@media screen and (max-width: 480px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
	}
	.menu-logo .icon-gotd-logo {
	    font-size: 40px;
	}
	.menu-logo .icon-gotd-logo:before {
	    width: auto;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}

@media screen and (min-width: 374px) and (max-width: 414px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}

@media screen and (min-width: 321px) and (max-width: 375px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}

@media screen and (max-width: 320px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}
