/* 1 - media screen and (max-width: 992px)
---------------------------------------------------------------------- */

@media screen and (min-width: 1171px) and (max-width: 1200px) {
	.navbar-nav>li>a {
		padding: 25px 20px;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1170px) {
	.navbar-nav>li>a {
		padding: 25px 20px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
	.navbar-nav>li>a {
		padding: 25px 20px;
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 550px;
	}
}

@media screen and (min-width: 993px) and (max-width: 1023px) {
	.navbar-nav>li>a {
		padding: 25px 20px;
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 500px;
	}
}


@media screen and (min-width: 901px) and (max-width: 992px) {
	.contact-list li {
		padding-right: 10px;
	}
	.navbar-nav>li>a {
		padding: 20px 10px;
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 500px;
	}
}

@media screen and (min-width: 860px) and (max-width: 900px) {
	.contact-list li {
		padding-right: 10px;
	}
	.navbar-nav>li>a {
		padding: 20px 10px;
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 450px;
	}
}

@media screen and (min-width: 801px) and (max-width: 859px) {
	.contact-list li {
		padding-right: 10px;
	}
	.navbar-nav>li>a {
		padding: 20px 10px;
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 400px;
	}
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	.contact-list li {
		padding-right: 10px;
	}
	.navbar-nav>li>a {
		padding: 20px 10px;
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 350px;
	}
}

@media screen and (min-width: 721px) and (max-width: 767px) {
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.contact-list li {
		padding-right: 10px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 350px;
	}
}

@media screen and (min-width: 639px) and (max-width: 720px) {
	.top-icon {
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin-right: 5px;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.contact-list li {
		padding-right: 10px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 320px;
	}
}

@media screen and (min-width: 569px) and (max-width: 640px) {
	.contact-list li {
		padding-right: 5px;
	}
	.top-icon {
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin-right: 0px;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 320px;
	}
}

@media screen and (min-width: 481px) and (max-width: 568px) {
	.contact-list li {
		padding-right: 5px;
	}
	.top-social {
		display: none;
	}
	.top-icon {
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin-right: 0px;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
	.main-slider,
	.main-slider svg,
	.google-map-container {
		height: 320px;
	}
}

@media screen and (min-width: 415px) and (max-width: 480px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}

@media screen and (min-width: 374px) and (max-width: 414px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}

@media screen and (min-width: 321px) and (max-width: 375px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}

@media screen and (max-width: 320px) {
	.top-contact {
		display: none;
	}
	.site-banner {
		display: none;
	}
	.menu-logo {
		display: inline-block;
		padding-top: 10px;
		max-width: 130px;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav>li>a {
		padding: 10px !important;
		display: block;
		border-left: none
	}
}
