@media screen and (max-width: 1024px) {
	.btn-xl {
	    padding: 10px 50px;
	}
	.top-contact {
	    padding: 17px 0;
	}
	.navbar-nav > li > a {
		padding: 17px 20px;
	}
	.main-slider,
	.google-map-container {
		height: 550px;
	}
	.slider-icon {
	    font-size: 100px;
	}
	.carousel-title {
	    font-size: 24px;
	    line-height: 35px;
	}
	.carousel-title::first-letter,
	.carousel-title .cap {
	    font-size: 30px;
	}
	#about .forts-bg {
	    margin-top: -80px;
	    background-size: 60% auto;
	}
	#about.about-tours .forts-bg {
	    margin-top: -100px;
	}
	.about .got-houses {
	    font-size: 100px;
	}
	#facts .forts-bg {
	    margin-top: -190px;
	    background-size: 70% auto;
	}
	.card {
	    padding-bottom: 15px;
	}
	.card-content {
	    padding: 35px 25px 20px 25px;
	}
	.card-footer .btn {
	    padding: 10px 0;
	    display: block;
	}
	.footer-top {
	    background: none;
	}
}

@media screen and (max-width: 768px) {
	.navbar-header {
	    float: none;
	}
	header .site-logo {
	    margin-top: 0;
	    max-width: 140px;
	}
	.contact-list li {
		padding-right: 10px;
	}
	nav#menu {
		padding-right: 0;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-nav > li > a {
		padding: 10px 9px;
		display: block;
		border-left: none
	}
	.navbar-nav > li > a.btn {
	    padding: 10px;
	    margin-top: 0;
	}
	.slider-icon {
	    font-size: 60px;
	}
	.about .got-houses {
	    font-size: 70px;
	}
	.card {
	    margin-bottom: 30px;
	}
}

@media screen and (max-width: 480px) {
	h2 {
	    font-size: 20px;
	    margin-bottom: 30px;
	}
	.subline {
	    margin-bottom: 40px;
	}
	.google-map-container {
		height: 350px;
	}
	.top-contact {
		display: none;
	}
	.menu-logo {
		display: inline-block;
	}
	.menu-logo .icon-gotd-logo {
	    font-size: 40px;
	    color: #333;
	}
	.menu-logo .icon-gotd-logo:before {
	    width: auto;
	}
	.navbar-toggle {
		border: none;
		font-size: 2em;
		padding-top: 10px;
		margin: 0px;
	}
	.navbar-collapse {
		padding: 15px;
	}
	.navbar-nav {
		margin: 0 0 20px 0;
		width: 100%;
	}
	.navbar-nav > li > a {
		padding: 10px;
		display: block;
		border-left: none;
	}
	nav#menu {
	    padding: 0;
	}
	.slider-icon {
	    font-size: 30px;
	}
	.carousel-title {
	    font-size: 14px;
	    line-height: 18px;
	}
	}
	.carousel-title::first-letter,
	.carousel-title .cap {
	    font-size: 18px;
	}
	#about .forts-bg {
	    margin-top: 0;
	}
	#about.about-tours .forts-bg {
	    margin-top: 0;
	}
	.about .got-houses {
	    font-size: 40px;
	}
	#about .subline {
	    margin-bottom: 20px;
	}
	.about.about-tours {
	    padding-top: 0;
	    margin-bottom: 80px;
	}
	.about.about-tours .got-houses {
	    margin-bottom: 0;
	    font-size: 80px;
	}
	#facts .forts-bg {
	    margin-top: 0;
	}
	.fact-counter {
	    font-size: 70px;
	}
	.card .card-thumbnail img {
	    width: 100%;
	}
	#guide {
	    padding-bottom: 60px;
	}
	.subscribe-section .form-control {
	    margin-bottom: 20px;
	}
	.subscribe-section .btn {
	    margin-left: 0;
	    padding: 10px 0;
	    display: block;
	    width: 100%;
	}
	.footer-top {
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.footer-top .contact-list {
	    margin-bottom: 30px;
	}
	.footer-top .footer-disclaimer {
	    margin-bottom: 40px;
	}
	footer .form-group {
	    margin-bottom: 0;
	}
	footer .form-control {
	    margin-bottom: 20px;
	}
	.footer-bottom .site-logo {
	    text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.about .got-houses {
	    font-size: 35px;
	}
}